<div class="header">
  <div class="header-content">
    <div class="subject">
      <span class="text-secondary">&lt;</span>
      <b>vinícius-licz </b>
      <span class="text-secondary">/&gt;</span>
      <span class="fake-cursor"> ▌</span>
    </div>     
    <div class="right-content">
      <div class="theme-panel">
        <app-select [options]="languages" [selected]="currentLang$ | async" (selectedChange)="onSelectLanguage($event)"></app-select>
        <app-button (onClick)="toggleTheme()">
          <i [class]="(isDarkTheme$ | async) ? 'pi pi-moon' : 'pi pi-sun'"></i>
        </app-button>
      </div>
      <div class="badges-panel">
        @for (badge of contacts; track badge.contact.name) {
          @if (badge.action) {
            <button class="badge" (click)="badge.action()">
              <i [class]="badge.contact.icon"></i>
            </button>
          } @else {
            <a class="badge" [href]="badge.link" target="_blank">
              <i [class]="badge.contact.icon"></i>
            </a>
          }
        }
      </div>
    </div>
  </div>
</div>
