:root {
  --violet-50: #f5f3ff;
  --violet-100: #ede9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c4b5fd;
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --violet-700: #6d28d9;
  --violet-800: #5b21b6;
  --violet-900: #4c1d95;
  --violet-950: #2e1065;
}

:root {
  --primary-color: var(--violet-500);
  --primary-50: var(--violet-50);
  --primary-100: var(--violet-100);
  --primary-200: var(--violet-200);
  --primary-300: var(--violet-300);
  --primary-400: var(--violet-400);
  --primary-500: var(--violet-500);
  --primary-600: var(--violet-600);
  --primary-700: var(--violet-700);
  --primary-800: var(--violet-800);
  --primary-900: var(--violet-900);
  --primary-950: var(--violet-950);
}