:root.dark {
  // theme colors
  --theme-50: #fafafa;
  --theme-100: #f4f4f5;
  --theme-200: #e4e4e7;
  --theme-300: #d4d4d8;
  --theme-400: #a1a1aa;
  --theme-500: #71717a;
  --theme-600: #52525b;
  --theme-700: #3f3f46;
  --theme-800: #27272a;
  --theme-900: #18181b;
  --theme-950: #09090b;

  // fonts
  --font-color: var(--theme-50);
  --font-color-secondary: var(--theme-400);
  
  // surfaces
  --surface-background: var(--theme-900);
  --surface-overlay: var(--theme-800);
  --surface-border: var(--theme-600);
  
  // hovers
  --hover-border-color: var(--theme-500);
  --hover-background-color: var(--theme-700);
  --hover-font-color: var(--theme-400);

  // selected
  --selected-background-color: var(--theme-600);
  --selected-border-color: var(--theme-400);
}