:root {
  // theme colors (tons creme suaves, estilo papel)
  --theme-50:  #fffefc;
  --theme-100: #fdfaf5;
  --theme-200: #f4f0e7;
  --theme-300: #eae5d9;
  --theme-400: #d5cdbf;
  --theme-500: #bfb6a7;
  --theme-600: #a99f91;
  --theme-700: #948a7d;
  --theme-800: #7d7569;
  --theme-900: #665f56;
  --theme-950: #4f4941;

  // fonts
  --font-color: var(--theme-950);
  --font-color-secondary: var(--theme-800);
  
  // surfaces
  --surface-background: var(--theme-100);
  --surface-overlay: var(--theme-300);
  --surface-border: var(--theme-400);
  
  // hovers
  --hover-border-color: var(--theme-500);
  --hover-background-color: var(--theme-400);
  --hover-font-color: var(--theme-800);

  // selected
  --selected-background-color: var(--theme-500);
  --selected-border-color: var(--theme-600);
}